.message-entry {
    padding: 20px;
    margin: 0;
}

.unread {
    background-color: #f6f6f6;
}

.latest-conversations {
    margin-top: 20px;
}

.latest-conversation-entry:hover {
    text-decoration: none;
}

.latest-conversation-entry:hover .row {
    background-color: #eeeeee;
    transition: all 0.25s ease-in-out;
}

.latest-conversation-message {
    color: #353535;
}

#new-message-button {
    float: right;
}

.btn-sender {
    background-color: #448ccb;
}

.btn-circle {
    margin-right: 0;
}

#conversation-messages-container {
    background-color: #fcfcfc;
    border: 1px solid rgba(0,0,0,.1);
    padding: 30px;
    border-radius: .25rem;
    float:left;
    overflow-y: auto;
    height: 350px;
}

#conversation-send-message-container, #conversation-messages-container {
    margin-top: 30px;
}

@media(max-width: 767px) {
    #new-message-button {
        float: left;
    }
}