{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <small class="text-muted">
                <a href="{% url 'home' %}">WriteMe</a> > <span class="text-bold">Home</span>
            </small>
            <div class="main-container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h1 class="margin-0 main-header">Welcome to WriteMe, {{ user.username }}!</h1>
                        <p>
                            Start sending messages to other users of the site by clicking on their names below.
                        </p>
                        <ul class="user-list">
                            {% for user_item in user_list %}
                                {% if user_item.username != user.username %}
                                    <li>
                                        <a href="{% url 'messaging:new' user_item.username %}">
                                            <p>
                                                <span class="btn btn-md btn-circle">{{ user_item.first_name|make_list|first }}</span>
                                                {{ user_item.first_name }} {{ user_item.last_name }}
                                            </p>
                                        </a>
                                        <hr>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>WriteMe</h1>
        <p>This will house the homepage of the web app.</p>
    {% endif %}
{% endblock %}