.user-list li a:hover .btn-circle {
    background-color: #1f5e93;
    transition: all 0.25s ease-in-out;
}

.user-list {
    list-style: none;
    margin: 50px 0;
    padding: 0;
}

.user-list li {
    margin: 15px 0;
}

.user-list li a:hover {
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.user-list li a p {
    font-size: 30px;
    font-family: "OpenSans-Bold", sans-serif;
    color: #448dcb;
}

.user-list li a:hover p {
    color: #1f5e93;
    transition: all 0.25s ease-in-out;
}

.site-title {
    font-family: "Pacifico", sans-serif;
    font-size: 80px;
}

.full-height {
    height: 100%;
}

main {
    color: #ffffff;
    background-color: #448ccb;
    background: -webkit-linear-gradient(bottom left, #448ccb, #07ffc3);
    background: -o-linear-gradient(top right, #448ccb, #07ffc3);
    background: -moz-linear-gradient(top right, #448ccb, #07ffc3);
    background: linear-gradient(to top right, #448ccb, #07ffc3);
}