@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

html {
    height: 100%;
    min-height: 410px;
    min-width: 320px;
}

body {
    height: 100%;
    font-family: "OpenSans-Regular", sans-serif;
    color: #353535;
}

.text-bold {
    font-weight: bold;
}

.main-header {
    font-family: "OpenSans-Bold", sans-serif;
    margin-bottom: 1rem;
}

.main-container {
    padding: 40px 15px;
}

.help-block {
    color: red;
}

.blue-button {
    font-family: "OpenSans-Bold", sans-serif;
    padding: .75rem 1.75rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.blue-button {
    background-color: #448dcb;
    color: #ffffff;
}

.blue-button:hover {
    background-color: #2f72aa;
    color: #ffffff;
}

.radio {
    display: inline;
    margin-right: 20px;
}

/* Navbar Styles */

#main-navbar .navbar-brand {
    font-family: "Pacifico", sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    padding: 0;
}

.navbar-custom {
    background-color: #448ccb;
    background: -webkit-linear-gradient(left, #448ccb, #3cdcb1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #448ccb, #3cdcb1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #448ccb, #3cdcb1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #448ccb, #3cdcb1); /* Standard syntax */
}

.navbar-custom .nav-item .nav-link {
    color: #ffffff;
    font-family: "OpenSans-Bold", sans-serif;
    padding-left: 30px;
}

.navbar-custom .nav-item .nav-link:hover {
    color: #edee8d;
    transition: all 0.25s ease-in-out;
}

.navbar-toggle:hover .icon-bar {
    background-color: #4d4d4d;
}

/* django-crispy-forms remove asterisk for required field */

.asteriskField {
    display: none;
}

.navbar-toggle
{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border:1px solid #444;          /* added line */
    border-radius:4px
}