@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico.ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

html {
    height: 100%;
    min-height: 410px;
    min-width: 590px;
}

body {
    height: 100%;
    font-family: "OpenSans-Regular", sans-serif;
    color: #353535;
}

textarea {
    resize: none;
}

.text-bold {
    font-family: "OpenSans-Bold", sans-serif;
}

.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

.main-header {
    font-family: "OpenSans-Bold", sans-serif;
    margin-bottom: 1rem;
}

.main-container {
    padding: 30px 15px;
}

.help-block {
    color: red;
}

/* Button Styles */

.blue-button, .teal-button {
    font-family: "OpenSans-Bold", sans-serif;
    padding: .75rem 1.75rem;
    border-radius: 1.5rem;
    margin: 0 0.25rem 1rem 0.25rem;
}

.blue-button {
    background-color: #448dcb;
    color: #ffffff;
}

.teal-button {
    background-color: #3cd8b2;
    color: #ffffff;
}

.teal-button:hover {
    background-color: #23ae8c;
    color: #ffffff;
}

.blue-button:hover {
    background-color: #2f72aa;
    color: #ffffff;
}

.btn-circle {
	width: 70px;
	height: 70px;
	text-align: center;
	padding: auto;
    margin-right: 40px;
	font-size: 40px;
	border-radius: 35px;
    background-color: #3cdcb1;
    color: #ffffff;
    font-family: "OpenSans-Bold", sans-serif;
}

/* Navbar Styles */

#main-navbar .navbar-brand {
    font-family: "Pacifico", sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    padding: 0;
}

.navbar-custom {
    background-color: #448ccb;
    background: -webkit-linear-gradient(left, #448ccb, #3cdcb1);
    background: -o-linear-gradient(right, #448ccb, #3cdcb1);
    background: -moz-linear-gradient(right, #448ccb, #3cdcb1);
    background: linear-gradient(to right, #448ccb, #3cdcb1);
}

.navbar-custom .nav-item .nav-link {
    color: #ffffff;
    font-family: "OpenSans-Bold", sans-serif;
    padding-left: 30px;
}

.navbar-custom .nav-item .nav-link:hover {
    color: #edee8d;
    transition: all 0.25s ease-in-out;
}

.navbar-toggle:hover .icon-bar {
    background-color: #4d4d4d;
}

/* django-crispy-forms remove asterisk for required field */

.asteriskField {
    display: none;
}
