{% extends "base.html" %}

{% load messaging_tags %}

{% block title %}Messages - View Messages{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'messaging/css/messaging.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <small class="text-muted">
            <a href="{% url 'home' %}">WriteMe</a> > <span class="text-bold">Messages</span>
        </small>
        <div class="main-container">
            <div class="row">
                <div class="col-md-12 mx-auto padding-0">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="margin-0 main-header">Messages - {{ user.username }}</h1>
                            <p>View all of your messages here. Click on a user to read your conversations.</p>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <a href="{% url 'messaging:new' %}" class="btn btn-md blue-button" id="new-message-button">New Message</a><br>
                        </div>
                    </div>
                    <div class="row latest-conversations">
                        <div class="col-md-12">
                            {% if latest_conversation_messages_list %}
                                <hr class="margin-0">
                                {% for item in latest_conversation_messages_list %}
                                    {% if user.username != item.conversation.user1.username %}
                                        <a href="{% url 'messaging:conversation' item.conversation.user1.username %}" class="latest-conversation-entry">
                                    {% else %}
                                        <a href="{% url 'messaging:conversation' item.conversation.user2.username %}" class="latest-conversation-entry">
                                    {% endif %}
                                            <div class="row message-entry {% if item.unread_flag == True and item.sender != user %}unread{% endif %}">
                                                <div class="col-md-3">
                                                    <h5 class="margin-0">
                                                        {% if item.unread_flag == True and item.sender != user %}
                                                            <span class="text-bold">
                                                        {% endif %}

                                                        {% if user.username != item.conversation.user1.username %}
                                                            {{ item.conversation.user1.first_name }} {{ item.conversation.user1.last_name }}
                                                        {% else %}
                                                            {{ item.conversation.user2.first_name }} {{ item.conversation.user2.last_name }}
                                                        {% endif %}

                                                        {% if item.unread_flag == True %}
                                                            </span>
                                                        {% endif %}
                                                    </h5>
                                                </div>

                                                <div class="col-md-6">
                                                    <p class="margin-0 latest-conversation-message">{{ item.message|limit_char_50 }}</p>
                                                </div>
                                                <div class="col-md-3">
                                                    <small class="text-muted">{{ item.timestamp }}</small>
                                                </div>
                                            </div>
                                        </a>
                                    <hr class="margin-0">
                                {% endfor %}
                            {% else %}
                                <p>You currently haven't sent or received a message yet. <a href="{% url 'messaging:new' %}">Send new message now.</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}